.App {
  text-align: center;
  background-color: #BCC7DF;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.active {
  color: #243D6E;
  font-size: 125%;
}

.listedPerson {
  color: red  ;
}
